In [1]:
import xlrd
import pandas as pd
# Give the location of the file 
loc = ("data/GameLogs_1419.csv") 
  
# To open Workbook 
df1 = pd.read_csv(loc)

In [2]:
import pandas as pd
import numpy as np
import os
import datetime
import mysql.connector
from pandas.io import sql
import sqlalchemy

In [3]:
import datetime as dt
df = df1.drop(columns= [df1.columns[0]])
df["Date"] = [x[0:10] for x in df["Date"]]
df['Date'] = df['Date'].apply(lambda x: 
                                    dt.datetime.strptime(x,'%Y-%m-%d'))

In [4]:
database_username = 'admin'
database_password = 'd8ascience!'
database_ip       = ''
database_name     = ''

database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(database_username, database_password, 
                                                      database_ip, database_name), max_overflow = -1)
connection = database_connection.connect()
print("made connection")
try:
    df.to_sql('gamelogs_1419b', connection,index=False, if_exists='replace', chunksize = 25000)
    print("table upload successful")
except:
    print("error")
    connection.close()
connection.close()

made connection
table upload successful

In [68]:
connection.close()

In [73]:
df

,Player,Date,Tm,Opp,PA,AB,R,H,X2B,X3B,HR,RBI,BB,SO,WPA,RE24,aLI,BOP,Pos.Summary
0,A.J. Ellis\ellisaj01,2014-03-22,LAD,ARI,4,2,0,0,0,0,0,0,1,1,-0.024,0.061,0.620,8,C
1,Miguel Montero\montemi01,2014-03-22,ARI,LAD,4,4,0,1,0,0,0,0,0,0,-0.052,-0.334,0.743,6,C
2,A.J. Ellis\ellisaj01,2014-03-23,LAD,ARI,5,4,1,0,0,0,0,0,1,1,-0.034,-0.131,0.504,6,C
3,Miguel Montero\montemi01,2014-03-23,ARI,LAD,5,5,0,1,0,0,0,0,0,1,0.004,-0.073,0.602,5,C
4,A.J. Ellis\ellisaj01,2014-03-30,LAD,SDP,4,3,0,2,0,0,0,0,1,0,0.100,0.852,0.742,7,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150632,Jorge Soler\solerjo01,2019-09-29,KCR,MIN,4,4,1,1,0,0,1,1,0,0,0.001,0.442,0.913,2,DH
150633,J.D. Martinez\martijd02,2019-09-29,BOS,BAL,4,4,0,1,0,0,0,0,0,2,-0.012,-0.432,1.618,4,DH
150634,Tommy La Stella\lasteto01,2019-09-29,LAA,HOU,5,5,0,1,1,0,0,0,0,1,-0.036,-0.586,0.632,1,DH
150635,Shin-Soo Choo\choosh01,2019-09-29,TEX,NYY,5,2,2,1,1,0,0,0,3,1,0.205,2.709,0.963,1,DH
150636,Yordan Alvarez\alvaryo01,2019-09-29,HOU,LAA,5,4,0,0,0,0,0,0,1,2,-0.082,-1.382,0.520,5,DH

In [74]:
df["Pos.Summary"].unique()

array(['C', '1B', '2B', '3B', 'SS', 'LF', 'RF', 'DH'], dtype=object)